//	Headings

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
 	line-height: 1.313em;
}

.gigantic{
  
}

.huge, h1{
	font-size:3em;
	margin: 0.563em 0;
}

.large, h2{
  font-size: 2.25em;
  margin: 0.625em 0;
}

.bigger, h3{
  font-size: 1.5em;
  margin:1.313em 0;
}

.big, h4 {
  font-size: 1.313em;
  margin: 1.313em 0;
}

.small, small {
  
}


// Basic Text Style

p{
  
  
}

em{
  
}

strong{
  
}

hr{
  
}
