//
// Add whatever variables you would like
//

// Colors





// font


 
//mixins
@mixin outer-container{
  max-width:75rem; // 1200px
  width: 100%;
  margin:0 auto;
}
.wrap{
	@include outer-container;
	width:100%;
	margin: 0 auto;
	@include clearfix;
	@media(max-width:79rem){
		padding:0 2rem;
	}
	@media(max-width:37.5rem){
		padding:0 1.5rem;
	}
}

.hidden{
	@include hide-text;
}


// Device Breakpoint Definitions
$mobile: new-breakpoint(min-width 320px max-width 480px);
$tablet: new-breakpoint(min-width 768px max-width 1024px);


// Content Device Breakpoint Definitions

