section.herounit
	.wrap
		h2 Become More Awesome Instantly
		p Start Up will upgrade your awesomeness to twice the level you have now.
		a.button.getstarted(href="#") Get Started
		a.button.learnmore(href="#") Learn More