include mixins
section.wrap
	h1.hidden Why Start Up is Amazing

	+point("rocket", "Takes Effect Instantly", "How it Works")
		p You don't want to wait to become more awesome, you want it right now! And tha's exactly what you'll get.
		
	+point("users", "Works for Everyone", "How you're covered")
		p It dosen't matter how awesome you are already, the increase you get will take you up to maximum potential.

	+point("line-chart", "Permanent Upgrade", "Lifetime awesomeness")
		p There is no expiry date on your new awesomeness upgrade. It wull stay active from the moment you equip it, forever

	+point("cogs", "Proven Formula", "Method for success")
		p 80,000 people have already upgraded their awesomeness. Our track record makes us trusted worldwide.