.logo-title{
	float:left;
	.logo{
		margin-right:1em;
		vertical-align: top;
		width: 2.8125rem;
		@media(max-width:400px){
			margin-right:0.5em;
		} 
	}
	h1.title{
		display: inline;
		font-weight: 900;
		@include fontSize(42px);
		line-height: 1.07em; 
		span{
			font-weight: 300;
		}
	}
}